.main{
    /* background: black; */
    padding-top: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 78%;
    align-items: center;
    background-color: #ededed;
}

.products{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}