*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
#root{
    display: flex;
    justify-content: space-between;
    background-color: #ededed;

}

button{
    cursor: pointer;
}

main{
    /* background: black; */
    margin-left: 70px;

    padding-top: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 70%;
    align-items: center;
    background-color: #ededed;
}


.purchase{
    width: 350px;
    height: 100vh;
    // background-color: red;
    padding: 30px;
    position: fixed;
    right: 0;
}